/* Resetando margem e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Container principal */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

/* Área do simulador */
#simulador {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Área da cena */
#scene-container {
    width: 100%;
    height: 70vh;
}

/* Controles */
#controles {
    margin-top: 20px;
}

/* Títulos */
h1 {
    font-size: 2rem;
    color: #333;
}

label {
    font-size: 1rem;
    color: #333;
}

input[type="range"] {
    width: 100%;
}
